.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/**topbar*/

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  color: white;
  border-bottom: 1px solid black;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.arrow-bottom {
  font-size: 24px;
}

.logo {
  color: #FFA62F;
  font-size: 20px;
  font-weight: bold;
}

/**title*/

.titlewrite textarea {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.titlewrite textarea::placeholder {
  color: #555;
  font-weight: bold;
}

/**content*/

.contentwrite{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentwrite textarea {
  width: 100%;
  height: calc(60vh - 20px);
  font-size: 15px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;
  overflow: scroll;
}

.contentwrite textarea::placeholder {
  color: #aaa;
}

/**animal profile*/

.animal-profile {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.animal-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.animal-name {
  font-size: 1rem;
  font-weight: bold;
}

.animal-select{
  height: 60px; /* 원하는 높이로 설정 */
  border-bottom: 1px solid rgb(212, 211, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

/**overlay*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(144, 143, 143, 0.5);
  z-index: 999;
}

/**bottomSheet*/

.bottom-sheet {
  min-height: max-content;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: bottom 0.3s ease-in-out;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1000;
}

.bottom-sheet.show {
  bottom: 0;
  transform: translateY(0);
}

.bottom-sheet-content {
  padding: 20px;
}

/**photo-select*/

.photo-select{
  height: 100px;
  width: 100px;
  background-color: #9d9d9d;
  margin: 10px;
}

/**hashtag*/

.hashtag-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 10px;
}

.hashtag-label {
  font-size: 16px;
  font-weight: bold;
}

.hashtag-button {
  background-color: transparent;
  color: #FFA62F;
  border: 2px dashed #FFA62F;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.hashtag-button:hover {
  background-color: #FFA62F;
  color: #fff;
}

.hashtag-content {
  overflow-y: auto;
  max-height: calc(100vh - 300px);
}

.hashtag-title, .hashtag-subtitle {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.hashtag-buttons {
  margin-bottom: 20px;
}

.hashtag-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hashtag-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.register-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.register-button:hover {
  background-color: darkorange;
}

.selected-tags {
  margin-bottom: 10px;
}

.selected-tag {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid orange;
  border-radius: 20px;
  background-color: transparent;
  color: orange;
  cursor: pointer;
}

.selected-tag:hover {
  background-color: orange;
  color: white;
}

.complete-button {
  width: 100%;
  padding: 15px 0;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.complete-button:hover {
  background-color: darkorange;
}

.hashtag-button.selected {
  background-color: orange;
  color: white;
}