.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  color: white;
  border-bottom: 1px solid black;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.logo {
  color: #FFA62F;
  font-size: 20px;
  font-weight: bold;
}

.titlewrite textarea {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.titlewrite textarea::placeholder {
  color: #555;
  font-weight: bold;
}

.contentwrite{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentwrite textarea {
  width: 100%;
  height: calc(60vh - 20px);
  font-size: 15px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;
  overflow: scroll;
}

.contentwrite textarea::placeholder {
  color: #aaa;
}

.animal-profile {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.animal-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.animal-name {
  font-size: 1rem;
  font-weight: bold;
}

.animal-select{
  height: 60px; /* 원하는 높이로 설정 */
  border-bottom: 1px solid rgb(212, 211, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.arrow-bottom {
  font-size: 24px; /* 아이콘 크기 설정 */
}