/* 기본 input 스타일 */
input {
  border: none;
  outline: none;
  margin: 0;
}
.AddScheduleWrap > div > span {
  font-weight: 600;
  margin-right: 5px;
  font-size: 14px;
}

/* input이 포커스를 받을 때 (클릭 시 포함) */
input:focus,
input:active {
  border: none;
  outline: none;
}

.AlldayBtn {
  margin-left: 5px;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  height: 18px;
  font-size: 10px;
}
.AlldayBtnReverse {
  margin-left: 5px;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  border: #333 0.5px solid;
  height: 18px;
  font-size: 10px;
}
.AddScheduleWrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 30px;
  justify-content: space-between;
}
.ScheduleTitle {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.DataSelectArea {
  min-width: 320px;
  max-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.DatepickerBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.DatepickerBoxWrap .customInput {
  padding: 0;
  width: 13ch;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  caret-color: transparent; /* 커서 숨김 */
}
.TimepickerBox {
  max-height: 100px;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-out;
}
.TimepickerBox .customInput {
  padding: 0;
  width: 8ch;
  caret-color: transparent; /* 커서 숨김 */
  text-align: center;
  font-weight: 500;
  font-size: 16px;

  opacity: 1;
  overflow: hidden;
}

.TimepickerBox.hidden {
  max-height: 0;
  opacity: 0;
}
.DatepickerBox :focus {
  outline: none;
}
.TimepickerBox :focus {
  outline: none;
}
input[type="radio"] {
  transform: scale(1.8); /* 원하는 크기로 조정 */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -moz-transform: scale(1.8); /* Firefox */
  -ms-transform: scale(1.8); /* IE 9 */
  -o-transform: scale(1.8); /* Opera */

  vertical-align: middle;
}
.imagepickerBox {
  display: flex;
  flex-direction: row;
}
.imagepickerBox > span {
  padding-top: 10px;
}
.radiobtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 13px;
}
.radioLabel {
  vertical-align: middle;
}
label div {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
}
.colorPicker {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.colorOptions {
  display: flex;
  gap: 10px;
}

.colorOption {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
