/* 수정된 CSS */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 25px;
    margin-top: 62px;
}

.birth_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.custom_select {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 5px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.year_select {
    width: 108px;
}

.month_day_select {
    width: 72px;
}

.dropdown_icon {    
    color: #a5a5a5;
    font-size: 9px;
    margin: 1px 1px 1px 10px;
}

.selected_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

.options {
    display: none;
    position: absolute;
    width: 99%;
    top: 100%;
    margin-top: 1.5px;
    max-height: 173px;
    overflow-y: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    z-index: 1000;
    scrollbar-width: thin;
    scrollbar-color: #b5b5b5;
}

.option {
    padding: 12px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}

.disabled .selected_option {
    color: #b5b5b5;    
    pointer-events: none;
}

.dontknowbirth_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.dontknowbirth_text {
    color: #b5b5b5;
    font-size: 14px;
    margin-right: 15px;
}

.dontknowbirth_checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #b5b5b5;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s, border-color 0.2s;
}

.dontknowbirth_checkbox:checked {
    background-color: #ffa62f;
    border: none;
}

.dontknowbirth_checkbox:not(:checked):focus {
    outline: 2px solid #b5b5b5;
    outline-offset: -2px;
}

.dontknowbirth_checkbox:focus {
    outline: none;
}

.dontknowbirth_checkbox:checked::before {
    content: '✓';
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}
