.selecting_photo_button {
    width: 35px;
    height: 35px;
    border-radius: 70%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecting_photo_icon {
    width: 20px;
    height: 20px;
    color: gray;
}

.selected_profile_photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.selected_profile_photo_box {
    height: 80px;
    width: 80px;
}

.profilename_bar {
    border: none;
    width: 80%;
    height: 38px;
    font-size: 16px;
}

.profilename_bar_wrapper {
    color: gray;
    box-shadow: 0 0 3px;
    border-style: solid;
    border-radius: 20px;
    width: 80%;
    display: flex;
}
