/* .animal-profile {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.animal-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.animal-name {
  font-size: 1rem;
  font-weight: bold;
}
.animal-select.home {
  background-color: transparent;
  position: relative;
  z-index: 100;
}
.animal-select {
  height: 50px; 
  border-bottom: 1px solid rgb(212, 211, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
} */
/** animal profile */

.animal-profile {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.animal-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.animal-name {
  font-size: 1rem;
  font-weight: bold;
}

.animal-select {
  height: 50px; /* 원하는 높이로 설정 */
  border-bottom: 1px solid rgb(212, 211, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  position: relative;
  z-index: 10; /* 기본 z-index */
}

.animal-select.homeComp {
  position: relative;
  z-index: 100; /* 더 높은 z-index */
  border: none;
}
