/**bottomSheet*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(144, 143, 143, 0.5);
    z-index: 999;
}

.bottom-sheet {
    min-height: max-content;
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: bottom 0.3s ease-in-out;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1000;
}

.bottom-sheet.show {
    bottom: 0;
    transform: translateY(0);
}

.bottom-sheet-content {
    padding: 20px;
}

.bottom-sheet-title {
    margin: 20px;
    font-size: 16px; /* 텍스트 크기 설정 */
    font-weight: bold; /* 텍스트 굵기 설정 */
}
