/**bottomSheet*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.bottom_sheet {
  overflow: hidden;
  min-height: max-content;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 600; /* overlay 위에 오도록 설정 */
}

.bottom_sheet.show {
  /* max-height랑 overflow-y 부분 캘린더스크린때문에 적용해놨습니다 문제있으면 말해주세요 */
  max-height: 90%;
  bottom: 0;
  transform: translateY(0);
  overflow-y: auto;
}

.bottom_sheet_content {
  padding: 0 20px 20px 20px;
}

.bottom_sheet_title {
  margin: 20px;
  font-size: 16px; /* 텍스트 크기 설정 */
  font-weight: bold; /* 텍스트 굵기 설정 */
}

.bottom_sheet_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom_sheet_button {
  font-size: 20px; /* 글씨 크기 */
  font-weight: bold;
  color: black; /* 글씨 색깔 */
  margin: 5px 0; /* 항목들 간의 거리 */
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
