button {
  outline: none; /* 포커스 시 생기는 테두리 제거 */
  background-color: initial;
}

button:focus {
  outline: none; /* 포커스 시 생기는 테두리 제거 */
}

button:active {
  outline: none; /* 클릭 시 생기는 테두리 제거 */
  background-color: initial; /* 클릭 시 배경색 변경 방지 */
}
.white {
  border: 2px solid orange;
  border-radius: 15px;
  margin: 20px 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: orange;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 150px;
}

.orange {
  background-color: orange;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  margin: 20px 0;
  padding: 15px 20px;
  box-sizing: border-box;
}
.gray {
  background-color: gray;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  margin: 20px 0;
  padding: 15px 20px;
  box-sizing: border-box;
}
