
.community_content_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 75px); /*TopBar의 높이를 계산해서 props 전달해준 다음에 윈도우 높이에서 빼야하는 로직 구현 필요 */
    overflow-y: auto;
  }
  