
.community_content_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 171px); /*TopBar의 높이를 계산해서 props 전달해준 다음에 윈도우 높이에서 빼야하는 로직 구현 필요 */
    overflow-y: auto;
  }

  .category_buttons_area {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* 좌측 정렬 */
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .category_button {
    border: 1px solid orange;
    background-color: white;
    color: orange;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
  }
  
  .category_button:disabled {
    border-color: orange;
    background-color: orange;
    color: white;
  }

  .category_text {
    text-align: left;
    color: orange;
    margin: 20px 20px;
    font-size: 18px;
    font-weight: bold;
  }
  