.BtnContiner {
  width: 80px;
  height: 80px;
  z-index: 999;
  position: fixed;
  bottom: 5%;
  right: 10%;
}
.AddscdBtn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffa62f;
}
.AddscdBtn div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  padding-top: 5px;
}
.AddscdBtn p {
  margin: 0;
  font-size: 13px;
}
