.hashtag_guide_text{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tagContainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-wrap: wrap;
  }
  
  .tag {
    border: 1.5px solid #FFA62F;
    border-radius: 15px;
    color: #FFA62F;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
  }
  
  .button {
    border: 1.5px dashed  #FFA62F;
    border-radius: 15px;
    background-color: white;
    color: #FFA62F;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
  }
  