/**hashtag*/

.hashtag-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 10px;
  }
  
  .hashtag-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .hashtag-button {
    background-color: transparent;
    color: #FFA62F;
    border: 2px dashed #FFA62F;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .hashtag-button:hover {
    background-color: #FFA62F;
    color: #fff;
  }
  
  .hashtag-content {
    overflow-y: auto;
    max-height: calc(100vh - 300px);
  }
  
  .hashtag-title, .hashtag-subtitle {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .hashtag-buttons {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
  
  .hashtag-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .hashtag-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: darkorange;
  }
  
  .selected-tags {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap; /* 태그들이 줄 바꿈 되도록 */
    align-items: center; /* 버튼이 태그들과 같은 높이에 위치하도록 */
    gap: 10px; /* 태그와 버튼 사이의 간격 */
    width: 100%; /* 부모 요소의 너비를 차지하도록 설정 */
  }
  
  .selected-tag {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid orange;
    border-radius: 20px;
    background-color: transparent;
    color: orange;
    cursor: pointer;
  }
  
  .selected-tag:hover {
    background-color: orange;
    color: white;
  }
  
  .complete-button {
    width: 100%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .complete-button:hover {
    background-color: darkorange;
  }
  
  .hashtag-button.selected {
    background-color: orange;
    color: white;
  }
  
  .tag {
    background-color: transparent;
    color: #FFA62F;
    border: 2px solid #FFA62F;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }