/* 데스크탑, 모바일 공통 css */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 15vh;
}

.logo {
  width: 140px;
}

.subtitle {
  font-weight: 300;
}

.main_img {
  height: 50%;
}

.kakao_button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.kakao_button {
  width: 86%;
}

.privacy_notice_text {
  position: absolute;
  bottom: 5%;
  width: 79%;
  font-size: 13px;
  font-weight: 300;
}

.privacy_notice_text_bold {
  font-weight: bold;
}

/* 모바일 css */
.wrapper.mbver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa62f;
  width: 100%;
  margin: 0;
}

.subtitle.mbver {
  color: #fff;
}

.main_img.mbver {
  max-height: 280px;
}

.privacy_notice_text.mbver {
  color: #fff;
}

.kakao_button_wrapper.mbver {
  height: 15vh;
}

.kakao_button.mbver {
  max-width: 280px;
}

/* 데스크탑 css */
.wrapper.dtver {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  max-width: 670px;
  height: 90vh;
  margin: auto;
}

.leftside_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.subtitle.dtver {
  color: black;
  font-weight: 600;
  margin-top: 7px;
}

.main_img.dtver {
  min-width: 270px;
  min-height: 280px;
  max-height: 325px;
}

.rightside_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.rightside_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 340px;
  height: 50vh;
  border-radius: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.background_circle {
  position: absolute;
  left: -50%;
  z-index: -5;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  /* background-color: #ffa52fa3; */
}

.welcome_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5px;
  height: 35%;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.kakao_button.mbver {
  max-width: 350px;
}

.usesns_text {
  font-size: 14px;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #c0c0c0;
  margin-top: 14px;
  margin-bottom: 15px;
}
