.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  height: 100vh; /* 화면 높이만큼 차지 */
  overflow: auto; /* 스크롤 가능하게 */
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 420px;
  height: 80vh;
  margin: 0 auto;
}

/* 프로필 등록, 수정 공통 css */

.photo_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.profile_photo_wrapper {
  position: relative;
}

.selected_profile_photo_container {
  width: 115px;
  height: 115px;
  margin-bottom: 30px;
}

.selected_profile_photo {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 70%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.selecting_photo_button {
  position: absolute;
  bottom: 18%;
  right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1.5px #cfcfcf solid;
  border-radius: 70%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.selecting_photo_icon {
  width: 20px;
  height: 20px;
  color: #c2c2c2;
}

.profile_name_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 88%;
}

.profile_name_title {
  font-size: 16px;
  font-weight: 700;
  margin-left: 24px;
  margin-bottom: 15px;
}

.profile_name_inputbar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  width: 100%;
  height: 50px;
}

.profile_name_inputbar {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 500;
}

.profile_name_inputbar::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

.input_delete_icon {
  font-size: 26px;
  width: 20%;
  color: #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
}

.save_button_wrapper {
  min-height: 50px;
  width: 100%;
  max-width: 420px;
}

.save_button {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  width: 92%;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ffa62f;
}

.save_button.disabled {
  background-color: #dadada;
  pointer-events: none;
}

.profile_name_length {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 24px;
  color: #adadad;
}

/* 프로필 등록 css */

.wrapper.dtver {
  width: 50%;
}

.welcome_text {
  margin-top: 25%;
  font-size: 24px;
  font-weight: 700;
}

.pofileregister_text {
  font-size: 24px;
  font-weight: 600;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

/* 프로필 수정 css */

.secession_wrapper {
  width: 90%;
  position: fixed;
  bottom: 70px;
  margin-left: 10px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7b7b7b;
  font-size: 15px;
}

.secession_phrase {
  font-size: 13px;
  font-weight: 300;
}

.secession_button {
  margin-left: 8px;
  font-size: 13px;
  font-weight: 500;
}

/* 프로필 등록 완료 css */

.complete_msg_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
}

.check_icon {
  margin-bottom: 18%;
  font-size: 38px;
  color: #ffa62f;
}

.complete_text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25%;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  width: 80%;
  height: 50px;
  margin: 5px;
  border-radius: 20px;
  background-color: #ffa62f;
}

.register_later_button {
  padding: 8px;
  color: #adadad;
}

/* 반응형 */
.wrapper.dtver {
  width: 50%;
}

.secession_wrapper.mbver {
  max-width: 380px;
}

.save_button_wrapper.mbver {
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
}

.save_button_wrapper.dtver {
  margin-top: 130px;
}

.save_button.dtver {
  border-radius: 20px;
}

.button_wrapper.dtver {
  position: absolute;
  top: 50%;
}

.complete.button_wrapper.dtver {
  margin-top: 150px;
}

.button_wrapper.mbver {
  position: absolute;
  bottom: 15%;
}
