.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: 20%;
  min-width: 139px;
}

.list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.list_group_wrapper {
  margin-bottom: 12px;
}

.category_title {
  margin-bottom: 12px;
  font-size: 16.5px;
  font-weight: 700;
}

.title {
  color: #ffa62f;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
}

.list_option {
  font-size: 15px;
  margin-bottom: 12px;
  color: #22222280;
  padding-left: 10px;
}

.list_option.bold {
  color: #222222;
  font-weight: 600;
}
