.managebox_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

.icon {
  margin: 17px;
  display: flex;
  font-size: 24px;
  color: #ffa62f;
  box-sizing: border-box;
}

.management_item_title {
  font-size: 17px;
  font-weight: 400;
  display: flex;
}
