.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inner_wrapper {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inner_wrapper.mbver::after {
  content: "";
  padding-left: 24px;
}

.back_icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.page_title {
  font-size: 17px;
  font-weight: bold;
  color: #ffa62f;
}

/* 반응형 */
.back_icon.none {
  display: none;
}

.wrapper.dtver {
}

.wrapper.mbver {
  height: 65px;
}

.inner_wrapper.mbver {
  height: 30px;
}

.page_title.dtver {
  font-size: 22px;
  font-weight: 700;
}
