/* MyPage css */

.title {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: start;
  margin: 20px;
  color: #ffa62f;
}

.profile_continer_wrapper {
  border-bottom: 1px solid #e7e7e79a;
}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.profile_photoandname_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_photo_container {
  margin-right: 13px;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}

.profile_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.username {
  text-align: left;
  width: calc(100% - 77px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 600;
}

.edit_icon {
  font-size: 18px;
  color: #b5b5b5;
}

.logout {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #b5b5b5;
  margin-bottom: 60px;
}

.logout_icon {
  font-size: 20px;
  margin-right: 8px;
}

.logout_text {
  font-size: 15px;
  font-weight: 300;
}

/* ManageBox css */

.managebox_wrapper {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

.icon {
  margin-left: 17px;
  margin-right: 15px;
  display: flex;
  font-size: 20px;
  color: #ffa62f;
  box-sizing: border-box;
}

.management_item_title {
  font-size: 15px;
  font-weight: 400;
  display: flex;
}

/* 반응형 */
.wrapper_dtver {
  margin: 0 auto;
  margin-top: 50px;
  width: 79%;
  max-width: 1050px;
  gap: 1%;
}

.inner_wrapper {
  display: flex;
  flex-direction: row;
}

.rightside_wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  width: calc(100% - 159px);
  margin-left: 30px;
}

.profile_continer_wrapper.dtver {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  border-radius: 25px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  height: 12vh;
}

.profile_container.dtver {
  margin: 0;
  width: 90%;
}

.profile_photoandname_container.dtver {
  width: 80%;
}

.username.dtver {
  font-size: 17px;
  font-weight: 600;
}

.edit_icon.dtver {
  font-size: 24px;
}
