.stepbutton_wrapper {
  min-height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
}

.prevstep_button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  width: 28%;
  height: 48px;
  border-radius: 10px;
  background-color: #dadada;
  margin: 5px;
}

.nextstep_button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  width: 63%;
  height: 48px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ffa62f;
}

.first_nextstep_button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  width: 92%;
  height: 48px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ffa62f;
}

.disabled_first_nextstep_button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  width: 92%;
  height: 48px;
  margin: 5px;
  border-radius: 10px;
  background-color: #dadada;
  pointer-events: none;
}

.disabled_nextstep_button {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  width: 63%;
  height: 48px;
  margin: 5px;
  border-radius: 10px;
  background-color: #dadada;
  pointer-events: none;
}
/* 반응형(deskTop) */
.DeskTopverWrpper {
  margin: 0 auto;
  width: 50%;
}

.first_nextstep_button.dtver {
  max-width: 840px;
}

.prevstep_button.dtver {

}