.registertopBar {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 20px 23px 20px;
    color: black;
}

.sequence{
    font-size: 15px;
    font-weight: 700;
}

.icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
}