:root {
  --margin-size: 40px; /* 기본 margin 값 */
  font-size: 15px;
}

.ScheduleBox {
  margin: calc(var(--margin-size) / 4) var(--margin-size);
  width: calc(100% - 2 * var(--margin-size)); /* margin 값을 동적으로 반영 */
  box-sizing: border-box;
  height: 90px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
}

.ScheduleBoxContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: center;
}

.ScheduleContent {
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}

.ScheduleBoxCheckBoxWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ScheduleDate {
  font-weight: 100;
  font-size: 16px;
}

.ScheduleTitle {
  font-weight: 500;
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.verticalDivider {
  width: 1.9px; /* 너비 */
  height: 50px; /* 높이 */
  background-color: rgba(255, 255, 255, 0.3); /* 선 색상 */
  margin: 0 20px; /* 좌우 여백 */
}
