:root {
  --margin-size: 40px; /* 기본 margin 값 */
  font-size: 15px;
}
.ScheduleContainer {
  height: 400px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6); /* adjusted shadow */
  overflow: hidden;
  transition: height 0.3s ease; /* 높이 변화를 애니메이션화 */
}

.expanded {
  height: 200px; /* 스와이프에 의해 확장된 크기 */
}
.ScheduleBoxWrap {
  height: 100%;
  overflow-y: scroll; /* 스크롤이 필요한 경우 스크롤 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}
.ScheduleWrap {
  height: 100%; /* 부모 높이를 가득 채우도록 설정 */
}

.ScheduleBox {
  margin: calc(var(--margin-size) / 4) var(--margin-size);
  width: calc(100% - 2 * var(--margin-size)); /* margin 값을 동적으로 반영 */
  box-sizing: border-box;
  height: 100px;
  background-color: darkmagenta;
  border-radius: 25px;
}

.SelectedDate {
  font-weight: bold;
}
