.shortsList {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  width: 100%; /* 부모 요소의 너비에 맞추기 */
  height: 100%;
}

.shortsList::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.shortItem {
  border-radius: 7px;
  flex: 0 0 auto;
  width: 157px; /* 각 아이템이 차지하는 너비를 조정 */
  height: 100%; /* 부모 요소의 높이에 맞추기 */
  background-color: sandybrown;
  position: relative;
  overflow: hidden; /* 자식 요소가 부모의 경계를 넘지 않도록 */
}

.shortItem::before {
  display: block;
  padding-top: 120%; /* 비율을 유지하면서 높이를 설정 */
}

.thumbnail {
  width:100%;
  height:100%;
  object-fit:cover;

}

.info {
  position: absolute;
  bottom: 0; /* 하단에 위치 */
  width: 100%; /* 부모의 너비에 맞춤 */
  /* background: rgba(0, 0, 0, 0.6); */
  color: white; /* 텍스트 색상 */
  padding: 8px;
  box-sizing: border-box;
  text-align: left;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.author {
  font-size: 12px;
  color: #fff;
}

.seeMore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 50px; /* 원하는 너비 */
  border-radius: 8px;
  margin: 0 10px;
  cursor: pointer;
  color: #949494c0;
  gap: 5px;
}

.seeMore :first-child {
  font-size: 13px;
  font-weight: 700;
}
