.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px;
  color: white;
  border-bottom: 1px solid black;
  height: 40px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.arrow-bottom {
  font-size: 24px;
}

.logo {
  color: #FFA62F;
  font-size: 20px;
  font-weight: bold;
}

.animalSelectBox {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightIcons {
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px; /* 최대 너비 설정 */
}

.searchInput {
  padding: 5px;
  font-size: 16px;
  margin-right: 5px; /* 입력 상자와 버튼 사이의 간격 */
  flex: 1; /* 남은 공간을 차지하도록 설정 */
  min-width: 0; /* 입력 상자가 화면 크기에 맞게 줄어들도록 설정 */
  margin-left: 5px;
}

.dropdownButton {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  white-space: nowrap; /* 텍스트가 버튼 내부에 줄 바꿈되지 않도록 설정 */
}

.dropdownIcon {
  margin-left: 5px;
}

.searchButton {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #FFA62F;
  color: white;
  border-radius: 4px;
  flex-shrink: 0; /* 화면 크기가 줄어들 때 검색 버튼이 줄어들지 않도록 설정 */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .searchContainer {
    max-width: 250px; /* 작은 화면에서는 최대 너비를 줄임 */
  }

  .searchButton {
    padding: 5px;
    font-size: 14px;
  }

  .dropdownButton {
    font-size: 14px;
  }
}
