.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 1em;
  color: white;

  height: 40px;
}
.hidden {
  display: none;
}
/* .searchInput {
  background-color: #f0f0f0;
}
  margin: 1.5em;
  height: 80%;
  border-radius: 10px;
  padding-left: 10px;
  flex-basis: auto;
}
.searchInput::placeholder {
  color: #999;
}
.searchContainer {
  display: flex;
  flex-direction: row;
}
.dropdownButton {
  background-color: #f0f0f0;
} */
.icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.arrow-bottom {
  font-size: 24px;
}

.logo {
  color: #ffa62f;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}
.homeComp {
  height: fit-content;
  padding-bottom: 0;
}
.homeComp > .logo {
  margin: 0 0.8em;
}
.animalSelectBox {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightIcons {
  display: flex;
  align-items: center;
}
