/**topbar*/

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
    color: white;
    border-bottom: 1px solid black;
    height: 30px;
  }
  
  .icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
  }
  
  .arrow-bottom {
    font-size: 24px;
  }
  
  .logo {
    color: #FFA62F;
    font-size: 20px;
    font-weight: bold;
  }