.divtext {
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.comm_write_wrap {
  width: 80%;
  max-width: 1050px;
  margin: auto;
  margin-top: 50px;
}
.upload_div {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 95px;
  width: 95px;
  background-color: #ffffff;
  border: 3px dotted gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.videoPreview_wrap {
  text-align: left;
}
.videoPreview {
  margin-left: 10px;
  border-radius: 10px;
}
.videoPreview::-webkit-media-controls-play-button {
  display: block !important;
}
.videoBoxDiv {
  position: relative;
  width: fit-content;
}
.videoPreview_rmv {
  position: absolute;
  color: red;
  top: 1px;
  right: 5px;
}
