.contentwrite {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.contentwrite textarea {
  width: 100%;
  height: calc(60vh - 20px);
  font-size: 15px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: none;
  overflow: scroll;
}
.div_line {
  border: 1px solid #aaaaaa4d;
  transform: scaleY(0.5);
}
textarea::-webkit-scrollbar {
  display: none;
}
.contentwrite textarea::placeholder {
  color: #aaa;
}

.contentcount {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 12px;
  color: #555;
  text-align: right;
}
