.BtnContiner {
  width: 70px;
  height: 70px;
  z-index: 400;
  position: fixed;
  bottom: 70px;
  right: 8%;
}
.AddscdBtn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffa62f;
  filter: drop-shadow(2px 5px 4px #75757544);
}
.AddscdBtn div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
}
.AddscdBtn p {
  margin: 0;
  font-size: 13px;
}
