.container {
    padding: 10px;
  }
  
  .title {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
  }
  
  .buttonContainer, .selectedTagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button, .tag {
    border: 1.5px solid orange;
    border-radius: 15px;
    color: #FFA62F;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .tag {
    border: 1.5px solid #FFA62F;
    border-radius: 15px;
    color: #FFA62F;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  
  .selectedButton {
    border: 1.5px solid #FFA62F;
    border-radius: 15px;
    background-color: #FFA62F;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
  }
  
  .submitButton, .completeButton {
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFA62F;
  }
  
  .completeButton {
    width: 100%;
    text-align: center;
  }
  
  .removeButton {
    background: none;
    border: none;
    color: rgb(124, 124, 124);
    font-size: 14px;
    cursor: pointer;
    
  }
  